<footer class="footer pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="hero1 text-center text-white py-3">
          <h4>LOCATION</h4>
          <p class="mt-4">
            2215 John Daniel Drive<br />
            Clark, MO 65243
          </p>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="hero2 d-flex flex-column align-items-center py-3">
          <h4 class="text-white">AROUND THE WEB</h4>
          <div class="social-media mt-3">
            <ul class=" list-unstyled d-flex justify-content-center ">
              <li><i class="fab  fa-facebook-f"></i></li>
              <li class="mx-2"><i class="fab fa-twitter"></i></li>
              <li class="mr-2"><i class="fab fa-linkedin-in"></i></li>
              <li><i class="fab fa-youtube"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hero1 text-center text-white py-3">
          <h4>ABOUT FREELANCER</h4>
          <p class="mt-4">
            Freelance is a free to use, MIT<br />
            licensed Bootstrap theme created by .
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-4 py-4 text-center text-white copy-write">
    <small>Copyright &copy; Omar Abdul-Khalek 2021</small>
  </div>
</footer>
