<section class="contact">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="parent">
      <div class="hero d-flex align-items-center flex-column">
        <h2 class="my-2">CONTACT ME</h2>
        <div class="icon-cont my-4">
          <i class="fas fa-star fa-2x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div class="inpt-cont">
              <label>Name</label>
              <input type="text" class="form-control inpt inpt1 " placeholder="Name" />

              <ul>
                <li>Please enter your name.</li>
              </ul>
            </div>
            <div class="inpt-cont">
              <label>Email Address</label>
              <input
                type="email"
                class="form-control inpt inpt2"
                placeholder="Email Address"
              />

              <ul>
                <li>Please enter your email address.</li>
              </ul>
            </div>
            <div class="inpt-cont">
              <label>Phone Number</label>
              <input
                type="number"
                class="form-control inpt inpt3"
                placeholder="Phone Number"
              />

              <ul>
                <li>Please enter your phone number.</li>
              </ul>
            </div>
            <div class="inpt-cont">
              <label>Message</label>
              <textarea
                class="form-control inpt inpt4"
                rows="6"
                placeholder="Message"
              ></textarea>

              <ul>
                <li>Please enter a message.</li>
              </ul>
            </div>
          </div>

          <button class="submit btn btn-bg py-3 px-5 mt-3">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>
