<!-- <p>portfolio works!</p> -->

<div class="show-details">
  <div class="container">
    <div class="row">
      <div class="col-12 py-4">
        <div class="data-show py-5">
          <i class="fas fa-times closed-icon"></i>
          <div class="hero d-flex align-items-center flex-column">
            <h2 class="mt-5">LOG CABIN</h2>
            <div class="icon-cont my-4">
              <i class="fas fa-star fa-2x"></i>
            </div>
          </div>
          <div class="imge-text-cont">
            <img src="../../assets/Images/cabin.png" alt="" />

            <p class="my-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
              neque assumenda ipsam nihil, molestias magnam, recusandae quos
              quis inventore quisquam velit asperiores, vitae? Reprehenderit
              soluta, eos quod consequuntur itaque. Nam.
            </p>

            <button class="closed-btn btn">Close Window</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="portfolio">
  <div class="container">
    <div class="parent">
      <div class="hero d-flex align-items-center flex-column">
        <h2 class="my-2">PORTFOLIO</h2>
        <div class="icon-cont my-4">
          <i class="fas fa-star fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img src="../../assets/Images/cabin.png" alt="LOG CABIN" />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img
            src="../../assets/Images/cake.png"
            alt="TASTY CAKE
          "
          />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img
            src="../../assets/Images/circus.png"
            alt="CIRCUS TENT
          "
          />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img
            src="../../assets/Images/game.png"
            alt="CONTROLLER
          "
          />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img
            src="../../assets/Images/safe.png"
            alt="LOCKED SAFE
          "
          />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="img-cont mt-4">
          <img src="../../assets/Images/submarine.png" alt="SUBMARINE" />
          <div class="over">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
